body{

    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color:azure

}


.formulaire  {

    text-align: center;
    
}


form{
    border:2px white solid;
    
    padding-bottom: 10%;
    padding-right: 20px;
}

label{
    display: flex ;
    flex-direction: column;
}

.inscription{

    margin: right;

}