body{

    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color:azure

}


.formulaire  {

    text-align: center;
    
}


form{
    border:2px white solid;

    padding-bottom: 10%;
}

label{
    display: flex ;
    flex-direction: column;
}

.inscription {

    float: right;
    color:white;

}
